 .addBook {
    background-image: url("https://res.cloudinary.com/dnhtposui/image/upload/v1670398900/books_with_flowers_zy7jix.jpg");
    background-size: cover;
    height: 100vh;
    /* display: flex; */
    /* margin: auto;/ */
 }
 .form-review{
    margin-left: 39%;
    margin-top: 10%;
}

#form-p{
    margin-left: 32%;
}
#txt{
    width: 30%;
}
input{
    /* background-color: gray; */
    color: white;
    width: 30%;
}

button{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    
    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 3px solid #8C82FC;
    background: #fff;
    color: #8C82FC;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
  }
  

button:hover{
    background: #eaafc8;
    color: #fff;
  }

  button span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }