body {
  background-color: #ffdde1;
  background-color: pink(122, 53, 124);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.parent-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dnhtposui/image/upload/v1670398469/books_with_coffeemug_sgpbjx.jpg");
  background-size: cover;
  height: 100vh;
}

.image-background {
  width: 100%;
  height: 100%;
}

.image-background > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.register-box {
  background-color: sky-blue(41, 134, 127);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid palevioletred;
  margin-top: 180px;
  position: absolute;
  margin-right: 500px;
  margin-left: 350px;
}

.user-box {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  font-size: 20px;
}

.user-box > label {
  margin-bottom: 5px;
}

.submit-box {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  border: 2px solid white;
  color: black;
}

.submit-btn {
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
